body{
    background: linear-gradient(135deg,#5192ce, #cff0a7 );
 width: 100%;
}

.education-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #272727;
}

.education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.education-item {
  background-color: #ffffff;
  border-radius: 10px;
  width: auto;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.education-item:hover {
  transform: translateY(-5px);
}

.education-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.education-info h3 {
  margin: 10px 0 5px;
  color: #444;
}

.education-info p {
  color: #666;
  font-size: 0.95rem;
}
